*{
     box-sizing: border-box;
}
body{
     font-family: "Open Sans", sans-serif, "Open Sans Condensed";
     color:  #222222;
     line-height: 1.5;
     margin: 0;
     padding: 0;
}
html{
     scroll-behavior: smooth;
}

*:focus{
     outline: 2px dotted #de2e54;
     outline-offset: 2px;
}
/* SITE HEADER  */
.site-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 160px;
}

.header-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.header-logo a{
     display: flex;
     align-items: center;
     text-decoration: none;
     font-size: 24px;
     color: #222222;
     font-weight: 600;
     margin-right: 80px;
}

.header-logo a:hover {
     color: #de2e54;;
}
.header-logo a:active {
     color: rgba(223, 48, 86, 0.8);
     opacity: 0.6;
}
.header-logo a img {
     margin-right: 16px;
}

/* NAVIGATION BAR  */

.sitenav-list a:hover{
     color: #DE2E54;
}
.sitenav-list a:active{
     opacity: 0.6;
}
.sitenav-list{
     display: flex;
     align-items: center;
     list-style-type: none;
     margin: 0;
     padding: 0;
}
.sitenav-item:last-child{
     margin-right: 0;
}

.sitenav-item{
     margin-left: 32px;
}
.sitenav-item a{
     text-decoration: none;
     text-transform: uppercase;
     color: var(--clr-text);
     font-weight: 700;
     letter-spacing: 2px;
     font-size: 14px;
}
.sitenav-item a:hover{
     color: #de2e54;;
}
.sitenav-item a:active{
     color: rgba(223, 48, 86, 0.8);
}
.main-button{
     display: inline-block;
     background-color: #de2e54;;
     color: #fff;
     text-transform: uppercase;
     text-decoration: none;
     padding: 12px 24px;
     border-radius: 8px;
     margin-left: 114px;
     font-family: 'Open Sans Condensed', sans-serif, "Open Sans";
     letter-spacing: 2px;
     font-weight: 700;
     font-size: 15px;
     border: 2px solid #de2e54;
     transition: color 0.4s ease,
     opacity 0.4s ease;
}
.main-button:hover{
     background: #FFFFFF;
     border: 2px solid #DE2E54;
     color: #DE2E54;
}

.main-button:active{
     background-color: #DE2E54;
     opacity: 0.6;
     border: 2px solid #DE2E54;
     color: #fff;
}



/* HERO  */
.hero{
     background-color: #0EB4C1;
     height: 530px;
     padding: 0 160px;
}
.hero-wrapper{
     display: flex;
}
.hero-content{
     color: #fff;
     padding-top: 120px;
     font-family:  'Open Sans Condensed', sans-serif, "Open Sans";
}

.hero-heading{
     font-size: 35px;
     margin: 16px auto;
}
.hero-text{
     width: 440px;
     font-size: 18px;
     font-family: 'Open Sans', sans-serif, "Open Sans Condensed";
     font-weight: 400;
     margin-top: 16px;
}
.hero-button{
     margin: 36px auto;
     display: inline-block;
     transition: color 0.4s ease,
     opacity 0.4s ease;
}
.hero-button:hover{
     background: rgba(222, 46, 84, 0.8);
     border: 2px solid rgba(222, 46, 84, 0.8);
     color: #fff;
}
.hero-button:active{
     opacity: 0.6;
     background-color: rgba(222, 46, 84, 0.6);
     border: 2px solid rgba(222, 46, 84, 0.6);
     color: #fff;
}
.hero-image{
     margin-top: 29px;
}

/* FEATURES  */
#features-section{
     padding: 120px 300px;
}

.features-heading-title{
     font-family: "Open Sans Condensed",  "Open Sans", sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.2;
     color: #000000;
     margin-bottom: 56px;
     text-align: center;
}


.features-section ul li{
     list-style: none;
     margin-bottom: 60px;
}
.test{
     list-style: none;

}
.features-list{
     display: flex;
     margin-bottom: 80px;
     width: 864px;

}
.features-list ul li{
     list-style: none;
}
.features-image{
     border-radius: 24px;
     margin-right: 64px;
     height: 200px;
     width: 200px;
}
.features-heading{
     font-family: "Open Sans Condensed",  "Open Sans", sans-serif;
     font-style: normal;
     font-weight: 700;
}

.features-info{
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
}
.feature-button-wrapper{
     text-align: center;
     margin: 60px auto auto;
}


/* REGISTER  */
.register{
     height: 253px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-self: center;
     flex-direction: column;
     background-color: #0EB4C1;
}

.register-heading{
     font-size: 36px;
     font-family: "Open Sans Condensed",  "Open Sans", sans-serif;
     color: #fff;
}
.register-button-wrapper{
     display: flex;
     justify-content:center;
     /* margin: 40px 40px; */
     justify-content: center;
}

.register-button-wrapper .register-button {
     border: 2px solid #fff;
     background-color: transparent;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 8px;
     padding: 12px 24px;
     color: #fff;
     font-size: 15px;
}
.register-button:first-child{
     margin-right: 40px;

}
.register-button:hover{
     color: #fff;
     background: #DE2E54;
     border: 2px solid #DE2E54;
}
.register-button:active{
     border: 2px solid rgba(222, 46, 84, 0.6);
     background-color: rgba(222, 46, 84, 0.6);
     background-color: rgba(222, 46, 84, 0.6);
     color: #fff;
}


/* FOOTER  */

.site-footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 160px;
     background-color: #222222;
     color: #fff;
     margin-bottom: 0px !important;
}

.container{
     width: 100%;
     max-width: 1160px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.site-footer .site-footer-list ul li a{
     color: #fff;
     font-weight: 700;
}
.site-footer .site-footer-list ul li a:hover{
     color: #de2e54;
}
.site-footer .site-footer-list ul li a:active{
     color: #fff;
     opacity: 0.6;
}

.site-footer .header-logo a{
     color: #fff;
     font-weight: 600;
}

.site-footer .header-logo a:hover{
     color: #de2e54;
}
.site-footer .header-logo a:active{
     color: #fff;
     opacity: 0.6;
}
